<mat-form-field appearance="outline">
  <mat-label>{{ label() }}</mat-label>
  <input
    matInput
    [formControl]="control"
    [type]="hidden() ? 'password' : 'text'"
    [placeholder]="placeholder()"
    [autocomplete]="autocomplete()"
    [value]="value()"
    [required]="required()"
    (blur)="touchedCallback?.()"
    (input)="onInput($event)"
    (keydown.enter)="onEnter()"
  />
  <button
    matSuffix
    mat-icon-button
    type="button"
    (click)="toggle()"
    [attr.aria-label]="i18n.t(hidden() ? 'password.show' : 'password.hide')"
  >
    <mat-icon [svgIcon]="hidden() ? 'visibility' : 'visibility_off'"></mat-icon>
  </button>
  <mat-error>
    @if (control?.dirty && control.invalid) {
      {{ i18n.error(control.errors) }}
    }
  </mat-error>
</mat-form-field>
