@for (vr of elements(); track vr.id) {
  @if (vr.visible) {
    <div class="question-wrapper" [style.width]="`${(vr.el.width ?? 1) * 100}%`">
      <div
        class="question"
        [class.question-group]="!!group()"
        [class.compact]="vr.el.type === 'section'"
      >
        @if (vr.el.type === 'section') {
          <mat-divider class="thin"></mat-divider>
          <div class="section-head">
            <h2 [innerHTML]="vr.label | markdown"></h2>
          </div>
        } @else {
          @if (vr.label) {
            <label class="label" [for]="vr.id">
              @if (group()) {
                <h4>
                  <span [innerHTML]="vr.label | markdown"></span>
                  @if (vr.el.required) {
                    <span class="req">*</span>
                  }
                </h4>
              } @else {
                <h3>
                  <span [innerHTML]="vr.label | markdown"></span>
                  @if (vr.el.required) {
                    <span class="req">*</span>
                  }
                </h3>
              }
            </label>
          }
          @if (vr.description) {
            <div class="desc" [innerHTML]="vr.description | markdown: true"></div>
          }

          @switch (vr.el.type) {
            @case ('group') {
              @if (vr.el.elementsRef) {
                <div class="group">
                  <fm-question-list group="true" [elements]="vr.el.elementsRef"></fm-question-list>
                </div>
              }
            }
            @default {
              <fm-question-input [vr]="vr"></fm-question-input>
            }
          }
        }
      </div>
    </div>
  }
}
