<div class="login">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <mat-icon svgIcon="lock" class="lock"></mat-icon>
        {{ i18n.t(registering() ? 'register.title' : 'login.title') }}
      </mat-card-title>
      <mat-card-subtitle>{{ i18n.t('login.subtitle') }}</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-card-content>
        <fm-text
          type="email"
          autocomplete="username"
          formControlName="email"
          [label]="i18n.t('login.email')"
        ></fm-text>
        <fm-password
          [label]="i18n.t('login.password')"
          formControlName="password"
          autocomplete="current-password"
          required
          (enter)="registering() || submit()"
        />
        @if (registering()) {
          <fm-password
            [label]="i18n.t('login.passwordRepeat')"
            autocomplete="current-password"
            formControlName="passwordRepeat"
            required
            (enter)="submit()"
          />
        }
        <mat-error>
          @if (form.dirty && form.invalid) {
            {{ i18n.error(form.errors) }}
          }
        </mat-error>
      </mat-card-content>
      <mat-card-actions align="end" class="actions">
        <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
          <mat-icon svgIcon="login"></mat-icon>
          {{ i18n.t(registering() ? 'register.submit' : 'login.submit') }}
        </button>
        <button mat-button (click)="toggleRegistration()" type="button">
          {{ i18n.t(registering() ? 'register.back' : 'register.link') }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
