<div class="cond">
  <div class="row">
    <span class="legend">{{ legend() }}</span>
    <mat-button-toggle-group [value]="edit().logic" (valueChange)="setLogic($event)">
      <mat-button-toggle value="all">{{ i18n.t('cond.all') }}</mat-button-toggle>
      <mat-button-toggle value="any">{{ i18n.t('cond.any') }}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  @for (cond of edit().conditions; track $index) {
    <div class="cond-row" [class.indent]="indent()">
      <fm-question-selector
        [model]="cond.fieldId"
        [pages]="pages()"
        (selectChange)="set($index, { fieldId: $event.id, fieldType: $event.type })"
        [selfId]="self()"
      ></fm-question-selector>

      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-select [ngModel]="cond.operator" (ngModelChange)="set($index, { operator: $event })">
          @for (op of OPERATORS; track op) {
            <mat-option [value]="op">{{ i18n.t(`op.${op}`) }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      @switch (rightKind(cond.operator)) {
        @case ('operand') {
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="val">
            <mat-select
              [ngModel]="operandKind(cond)"
              (ngModelChange)="setOperandKind($index, $event)"
            >
              <mat-option value="literal">{{ i18n.t('cond.value') }}</mat-option>
              <mat-option value="field">{{ i18n.t('cond.field') }}</mat-option>
            </mat-select>
          </mat-form-field>
          <br />
          @if (operandKind(cond) === 'literal') {
            @switch (group().conditions[$index].fieldType) {
              @case ('date') {
                <fm-question-input-field
                  [config]="{ type: 'date', value: literalText(cond) }"
                  (value)="set$($index, 'operand', $event)"
                ></fm-question-input-field>
              }
              @default {
                <mat-form-field appearance="outline" subscriptSizing="dynamic" class="val">
                  <input
                    matInput
                    [ngModel]="literalText(cond)"
                    (ngModelChange)="set$($index, 'operand', $event)"
                  />
                </mat-form-field>
              }
            }
          } @else {
            <fm-question-selector
              [pages]="pages()"
              [selfId]="self()"
              [model]="fieldOperandId(cond)"
              (selectChange)="set($index, { operand: { kind: 'field', fieldId: $event.id } })"
            ></fm-question-selector>
          }
        }
        @case ('range') {
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="val">
            <input
              matInput
              [placeholder]="i18n.t('cond.from')"
              [ngModel]="literalText(cond)"
              (ngModelChange)="set$($index, 'operand', $event)"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="val">
            <input
              matInput
              [placeholder]="i18n.t('cond.to')"
              [ngModel]="rangeToText(cond)"
              (ngModelChange)="setRangeTo($index, $event)"
            />
          </mat-form-field>
        }
        @case ('list') {
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="val grow">
            <input
              matInput
              [placeholder]="i18n.t('cond.commaList')"
              [ngModel]="listText(cond)"
              (ngModelChange)="setList($index, $event)"
            />
          </mat-form-field>
        }
        @case ('none') {
          <span class="hint">{{ i18n.t('cond.noValue') }}</span>
        }
      }

      <button mat-icon-button [matTooltip]="i18n.t('cond.remove')" (click)="removeCond($index)">
        <mat-icon svgIcon="close"></mat-icon>
      </button>
    </div>
  }

  @for (group of edit().groups; track $index; let gi = $index) {
    <div class="nested">
      <fm-condition-editor
        [group]="group"
        [pages]="pages()"
        [self]="self()"
        [fields]="fields()"
        [indent]="true"
        (changed)="setGroup(gi, $event)"
      />
      <button mat-icon-button [matTooltip]="i18n.t('cond.removeGroup')" (click)="removeGroup(gi)">
        <mat-icon svgIcon="close"></mat-icon>
      </button>
    </div>
  }

  <div class="add-row">
    <button mat-stroked-button (click)="addCond()">
      <mat-icon svgIcon="add"></mat-icon> {{ i18n.t('cond.condition') }}
    </button>
    <button mat-stroked-button (click)="addGroup()">
      <mat-icon svgIcon="account_tree"></mat-icon> {{ i18n.t('cond.nestedGroup') }}
    </button>
  </div>
</div>
