<mat-form-field appearance="outline" subscriptSizing="dynamic">
  <mat-select [value]="model()">
    @for (p of _pages(); track p.page.id) {
      <mat-optgroup [label]="p.page.title ?? p.page.id">
        @for (r of p.rows; track r.el.id) {
          <mat-option
            [value]="r.el.id"
            [disabled]="!r.selectable"
            [style.padding-left.px]="32 + r.depth * 16"
            (onSelectionChange)="selected($event.source.selected, r.el)"
            >{{ r.el.label }}</mat-option
          >
        }
      </mat-optgroup>
    }
  </mat-select>
</mat-form-field>
